<!-- Modal -->
<div class="modal fade" id="informations" tabindex="-1" aria-labelledby="informationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="informationsModalLabel">Informações</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <h1 class="text-primary">Disponível em breve...</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-white" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>
  